name: Build Cross-Platform

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4

    - name: Configure CMake
      run: cmake -B build -DCMAKE_BUILD_TYPE=Release

    - name: Build
      run: cmake --build build --config Release

    - name: Prepare Artifacts
      shell: bash
      run: |
        mkdir output
        if [ "${{ runner.os }}" == "Windows" ]; then
          cp build/Release/*.exe output/
        else
          cp build/xmas output/
        fi

    - name: Upload Build Artifact
      uses: actions/upload-artifact@v4
      with:
        name: xmas-${{ matrix.os }}
        path: output/